*{
    box-sizing:border-box;
}
body{
    margin:0px;
    padding:0px;
}
@font-face{
    font-family: TrueType;
    src:url(fonts/caviar_dreams.ttf);
}
/*header*/
header img{
    width:100px;
    height:100px;
}
header{
    padding:10px;
    display:flex;
    justify-content:space-around;
    font-size:20px;
    background-color:rgb(146, 146, 240);
    box-shadow:0 0 10px;
}
header ul{
    display:flex;
    flex-basis:60%;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
header li{
    list-style-type:none;
}
header a{
    text-decoration:none;
    color:black;
}
@media all and (max-width:1000px){
    header img{
        width:100px;
        height:100px;
    }
}
@media all and (max-width:550px){
    header img{
        text-align: center;
        width:70px;
        height:70px;
    }
    header{
        display:flex;
        flex-direction:column;
        width: 100%;
    }
    header ul{
        display:flex;
        flex-direction:column;
    }
}
/*osnova*/
.bronbh{
    text-align: center;
}
.bl{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.block{
    padding:15px;
    border-radius:30px;
    margin:10px;
    background-color: rgb(162, 162, 238);

}
/*footer*/
footer{
    font-size:20px;
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    box-shadow: 0 0 10px;
    background-color:rgb(146, 146, 240);
}
footer a{
    text-decoration: none;
    color:black;
    display: flex;
    align-items:center;
}